@model Ficha14.Models.UserViewModel

@{
    ViewData["Title"] = "UserDetails";
}

<div class = "text-center">
    <h1 class = "display-4">Welcome @Model.UserName</h1>
<h2>UserDetails</h2>
<adress>
    <br /> ID: @Model.ID <br/>
     <br /> User: @Model.UserName <br/>
      <br /> Email: @Model.Email<br/>
       <br /> Role: @Model.Role <br/>
       <br /> Token: @ViewData["Token"] <br/>
</adress>
</div>