@model Ficha14.Models.UserViewModel

@{
    ViewData["Title"] = "UserDetails";
}
<form method="post" enctype="multipart/form-data" >

    <div class = "text-center">
        <h1 class = "display-4">Welcome @Model.UserName</h1>
    <h2>UserDetails</h2>
    <adress>
        <br /> ID: @Model.ID <br/>
         <br /> User: @Model.UserName <br/>
          <br /> Email: @Model.Email<br/>
           <br /> Role: @Model.Role <br/>          
           <img src="/images/@Model.Avatar" title="Image"/><br/>

           <br /> Token: @ViewData["Token"] <br/>
            <a asp-action="ChangeAvatar" >Change Avatar</a>
    </adress>
    </div>
    </form>